* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: small;   
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}

.left-side-menu {
    display: flex;
    gap: 20px;

}

.logo img {
    width: 40px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

.right-side-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}
.cart{
    width: 45px;
}

.icon-avatar img {
    width: 50px;
}

.left-side {
    flex-direction: column;
    width: 100%;
}

.items {
    align-self: flex-end;
}

.select-image {
    max-width: 200px;
}

.select-image img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-side h6 {
    color: hsl(0, 97%, 51%);
}

.right-side p {
    color: hsl(219, 9%, 45%);
    font-size: 5px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.off {
    font-size: 12px;
    color: #ccc;
}

.options {
    display: flex;
    gap: 20px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #FFEAFC;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
}

.amount span {
    font-weight: 700;
    font-size: 15px;
}

.minus,
.plus {
    cursor: pointer;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #FFEAFC;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
}

.button img {
    width: 50px;
}

.texto {
    font-size: 100%;
}

.bm-5 {
    margin-bottom: 5px;
}

.photo {
    width: 100%;
}

.container-about {
    display: flex;
}

@media(max-width:500px) {
    .container-about {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
}

.container-about>div {
    max-width: 500px;
}